*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
header .electricSource {
    font-size: 11px;
}
header{
padding-block: 1rem;
display: flex;
justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
body{
    background-color: #F5F5F5;
}
.active{
    display:block;
    position: absolute;
    right: 0rem;
    background: #909291; 
    padding-inline: 2.5rem;
    padding-block: 1.5rem;
    opacity: 0.8; 

}
.active li{
    margin-bottom: 0.53rem;
   
}
header ul li a{
     color: black;
    text-decoration: none;
  
}

.headerHero{
    width: 100%;
    max-width: 1400px;
    padding-inline: 6rem;
    background-size:cover;
    min-height: 100vh;
    margin-inline:auto;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
   cursor: pointer;
}

header .cross{
    display: none;
}
header .true{
    display: block;
    position: relative;
}
nav p{
    cursor: pointer;
    display: none;
    font-size: 3rem;
}
@media (max-width:1120px) {
    .headerHero{
        padding-inline: 1rem;
    }
    header{
        font-size: 16px;
    }
    
}
@media (max-width:970px) {
    header ul{
        display: none;
    }
    nav p{
        display: block;
    }
    
}
