:root{
   --bgc:white;
  --text:black;
 
}
.dark{
  --bgc:black;
  --text:white;
}


.hero_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 5.6rem;
    align-items: center;
    color: #0f0202;;
    height: calc(100vh - 302px);
    align-self: flex-end;
    /* width: 100%;
    max-width: 400px;
     */
}
    
.hero_section p{
    line-height: 25px;
}
.hero_section h1{
    font-size: 40px;
    line-height: 50px;
}
.hero_section .searching{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}
.hero_section .searching input{
    padding-block: 0.33rem;
    border: none;
    border: 1px solid #bea5a5;
    border-radius: 14px;
    padding-left: 0.44rem;
}
.hero_section .searching button{
    padding-inline: 0.825rem;
    padding-block: 0.53rem;
    border: none;
    border: 1px solid #a99c9c;
    border-radius: 15px;
    background: #469346;
    color: white;
    font-weight: bolder;
}

@media (max-width:404px) {
    
    .hero_section h1{
        font-size: 30px;
    }
    .hero_section .searching{
        flex-direction: column;
    }
   
}
@media (max-width:604px) {
     .hero_section .solarPanel{
        font-size: 1.2rem;
        margin-top: 4rem;
        color: rgb(2, 3, 3);
        font-weight: bold;
    }

}
@media (max-width:380px) {
    .theme >:last-child{
      display: none;
    }
    .pageRoute{
        margin-top: 7rem;
        margin-left:1rem;
    }
}