.headerHero {
  position: relative;
}
.HomeSection{
  position: relative;
}
:root{
   --bgc:white;
  --text:black;
 
}
.dark{
  --bgc:black;
  --text:white;
}

body{
  background-color: white;
  color: var(--text);
}

.heroBackground {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_section .help{
    text-shadow: 1px -1px #aa2222;
    color: #e1aeae;
}
header span{
  cursor: pointer;
}

@media (max-width:350px) {
  .main-heading {
    font-size: 24px;
  }
  .content-side {
  min-width: 200px;
}
.services-section .top-banner{
  padding: 9px;
}
.content-side .main-heading {
    font-size: 24px;
}
.services-section .top-banner .banner-left h2{
    font-size: 17px;

}
.solar-section .image-side {
  min-width: 260px;
}
.services-section .top-banner .banner-right {
    min-width: 255px;
}
.services-section .banner-item h4{
    font-size: 14px;
}
.solar-section .content-side {
    min-width: 200px;
}


}
/* task4 */
.theme{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.41rem;
    cursor: pointer;
}
.theme button{
  outline: none;
    border: none;
    background: none;
}
.theme button:hover{
  background-color: #aa2222;
  padding-block: 0.34rem;
  padding-inline: 0.5rem;
}